@import '../../components/variables.css';
.section {
    border: 1px solid transparent;
    background: #eee;
}

.container {
    margin: 0 auto;
    max-width: var(--max-content-width);
}

.row {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.textCenter {
    text-align: center;
}

.boxRow {
    padding-left: 35%;
}

.white {
   background: #fff;
}